<% content_for :title do %>Deathswit.ch<% end %>

<div class="container">
  <div class="row" data-equalizer>
    <div class="columns medium-6">
      <div class="callout" data-equalizer-watch>
        <h4>What is this?</h4>
        <p>Similar to the concept of a <a href="https://en.wikipedia.org/wiki/Dead_man%27s_switch" target="_blank">dead man's switch</a>, this application will send an email to a recipient if you do not confirm you are still alive after a period of time. It is inspired by the now defunct <tt>deathswitch.com</tt>, which we miss very much.</p>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="callout" data-equalizer-watch>
        <h4>How do I sign up?</h4>
        <p>It is a closed beta for now.</p>
      </div>
    </div>
  </div>
</div>
